{{ define "main" }}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <article role="main">
        {{ .Content }}
      </article>
    </div>
  </div>
</div>
{{ end }}